.navigate {
  display: flex;
  justify-content: space-between;  
  height: 60px;
  background-color: #000;
  color: #fff;
}

.navigate .nav-start {
  display: flex;
}
.navigate a,
.navigate span {
  display: inline-block;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.navigate a:hover:not(.nav-logo) {
  background-color: rgba(255, 255, 255, .2)
}

.nav-logo img {
  height: 40px;
  margin: 10px 0;
}
.nav-end {
  margin-right: 15px;
}